/* Main section */
main {
    display: flex;
    gap: 40px;
}

main > img {
    width: 316px;
    height: 476px;
}

/* Article section */
article {
    width: 430px;
}

article > p {
    font-family: neue_montreal_book;
    font-size: 15px;
    line-height: 1.1;
}

#open {
    font-family: new;
    font-size: 20px;
    padding-bottom: 20px;
}

#end {
    font-family: new;
    font-size: 20px;
    padding-top: 15px;
    line-height: 1.5;
}
/* Article section */
/* Main section */

/* Filler images section */
#giant_flower_2 {
    width: 50%;
    height: auto;
    position: absolute;

    right: -50px;
    top: 370px;
}
/* Filler images section */

/* Footer section */
footer {
    width: 1050px;
    margin-top: 285px;
}
/* Footer section */

@media (min-width: 651px) and (max-width: 1000px) {
    
}

/* Mobile view */
@media (max-width: 650px) {
    main {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    main > img {
        width: 60%;
        height: auto;
        margin-bottom: 40px;
    }

    article {
        width: 90%;
    }

    #open {
        padding: 0;
    }

    #end {
        padding: 0;
    }

    #giant_flower_2 {
        display: none;
    }

    footer {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-top: 50px;
        margin-left: 0;
        width: 100%;
        padding: 0;
    }

    #contact {
        gap: 100px;
    }
}