#pageTitle {
    padding-bottom: 15px;
}

/* Section Detailing */
.sectionTitle {
    font-family: neue_montreal_medium;
    font-size: 14px;
    margin-top: 20px;
}

.section > ul {
    font-family: new;
    font-size: 19px;
    list-style: none;

    padding: 0;
    padding-right: 200px;
    padding-bottom: 0;
    margin: 0;
    border-bottom: 1px solid #000;
}

.section > ul > li {
    margin-bottom: 20px;
    padding-top: 45px;
}

.section > ul > li > a {
    color: #000;
}

.section > ul > li > p {
    font-family: neue_montreal_book;
    font-size: 15px;
}
/* Section Detailing */

/* Report section */
#reports {
    height: 485px;
    display: flex;
    gap: 20px;
}
/* Report section */

/* Fresh roots section */
#freshRoots {
    height: 485px;
    display: flex;
    gap: 20px;
}
/* Fresh roots section */

#kinsight {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#kinsight > img {
    width: 1113.8px;
    height: 707.8px;
}

#kinsightTop {
    display: flex;
    gap: 20px;
}

#spread {
    width: 746px;
    height: 585px;
}

#highlights {
    width: 366px;
    height: 585px;
}


/* Footer section */
footer {
    width: 1050px;
    margin-top: 90px;
    
}
/* Footer section */

/* Mobile query */
@media (max-width: 650px) {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        max-width: 100%; /* prevents images from spilling out */
    }

    body {
        overflow-y: hidden;
    }

    main {
        width: 100%;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;

    }

    .section {
        padding: 0; /* remove any previous negative padding */
        box-sizing: border-box;
    }

    .section > ul {
        width: 100%;
        padding: 0; /* remove right padding */
        margin: 0;
    }

    /* Report section */
    #kinsight {
        width: 100%;
    }

    #kinsightTop,
    #reports,
    #freshRoots {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: auto;
    }
    /* Report section */

    #spread,
    #highlights,
    #kinsight > img,
    #timeline,
    #reports > img,
    #freshRoots > img {
        width: 100% !important;
        height: auto !important;
        max-width: 100%;
    }

    footer {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-top: 50px;
        margin-left: 0;
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
    }
}